extends ../base.pug

block content 
  h1.forms-heading EDITING: #{videoSelected.title}
  form.edit-profile_form(method="POST")
    label.edit-video-labels(for="editedTitle") Video title:
    input(name="editedTitle", type="text", value=`${videoSelected.title}` required maxlength="70") 

    label.edit-video-labels(for="editedDescription") Video description:
    input(name="editedDescription" type="text" value=`${videoSelected.description}` placeholder="Description" required minlength="10")

    label.edit-video-labels(for="editedHashtag") #hashtag:
    input(name="editedHashtag" type="text" value=`${videoSelected.hashtags.join()}` placeholder="Hashtag" required)
    input.submit-updated-profile_btn(type="submit", value="save")