extends ../base.pug
include ../mixins/video

block content
  form.search-form(method="get") 
    input.search-keyword_input(type="text",placeholder="Search for videos",name="keyword", value=`${keyword===undefined ? "" :`${keyword}`}`)

  main.home-body
    div.main-videos-holder
      each searchedVideo in searchedVideos
        +videos(searchedVideo)
      else 
        span.nothing-found No videos found