doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")   
    link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    title #{ pageTitle } | Wetube
  body 
    block header

    main 
      a(href="/") home 
      br
      a(href="/search") search
      br
      a(href="/join") Create an account
      block content
      include partials/footer.pug


