extends base.pug
include mixins/video

block header
//-  header 
  if userObject.loggedIn
    small Hello #{userObject.username}

  nav
    ul 
        if userObject.loggedIn
          li
            a(href="/logout") Log out
        else
          li 
            a(href="/login") Login //

block content 
  nav
  ul  
    li 
      a(href="/videos/upload") upload
  h1 Welcome to wetube Home page

  h2 Videos
  each Video in Videos
    +videos(Video)
  else 
    span Sorry Nothing found 😞