extends base.pug
include mixins/video

block header
//-  header 
  if userObject.loggedIn
    small Hello #{userObject.username}

  nav
    ul 
        if userObject.loggedIn
          li
            a(href="/logout") Log out
        else
          li 
            a(href="/login") Login //

block content 
  nav
  ul  
    li 
      a(href="/videos/upload") upload
  h1 Welcome to wetube Home page

//-  h2 Video lists only
  ul 
    each video in videos 
      li Video #
    else 
      span Nothing found 😞


  h2 Video Details
  each videoDetail in videoDetails 
    +video(videoDetail) //