extends base.pug
include mixins/video

block content 
  main.home-body
    div.main-videos-holder
      each Video in Videos
        +videos(Video)
      else 
        span.nothing-found No videos found 😞