extends base.pug
include mixins/video

block content
  form(method="get") 
    input(type="text",placeholder="Search for videos",name="keyword", value=`${keyword===undefined ? "" :`${keyword}`}`)
    input(type="submit", value="Search Video")

  div 
    each searchedVideo in searchedVideos
      +videos(searchedVideo)
