extends base.pug

block content 
  h1 #{pageTitle}

  if(ErrorMessage)
    span #{ErrorMessage}
  form(method="post")
    input(name="uploadedTitle" type="text" placeholder="Video title" required maxlength="70")
    input(name="uploadDescription" type="text" placeholder="Description" required minlength="10")
    input(name="hashtagsNew" type="text" placeholder="Hashtag" required)
    input(type="submit", value="Upload Video") 