@import "../other/_variables";
@import "../other/_reset";
@import "../other/_mixins";

/* #video{
  margin: 0 auto;
  display: flex;
  justify-content: center;
} */

#main-video-screen {
  width: 70%;
  position: relative;
  margin: 0 auto;
  #video {
    height: 100%;
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 4.5%;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 1.3vmin;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        i {
          font-size: 2vmin;
        }
      }
    }
  }
}

#comment-form{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  textarea{
    height: 5vmin !important;
    max-height: 7vmin ;
    width: 30%;
    background-color: $bg;
    border: none;
    resize: vertical;
    border-bottom: solid 1px gray;
    outline: none;
    color: gainsboro;
    font-size: 2.7vmin;
    padding: 1.7vmin;
    &::placeholder{
      font-size: 3vmin !important;
      color: lightgrey !important;
    }
  }
  button{
    padding: 1.5vmin 2vmin;
    font-size: 1.7vmin;
    border-radius: 4vmin;
    background-color: #65B8FF;
    border: none;
    margin-left: 1%;
  }
}

.comments-section{
  margin: auto 0%;
/*   background-color: red; */
  margin: auto 0;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  .comments-ul{
    display: flex;
    flex-direction: column;
    margin-left: -10vmin;
    .comments-li{
      margin-top: 1vmin;
      width: 60vmin;
      height: 7vmin;
      display: flex;
      justify-content: space-between;
      #delete-comment{
        background-color: $bg;
        border: none;
        height: 4vmin;
        border-radius: 1vmin;
        &:hover{
          background-color: rgb(58, 58, 58);
        }
      }
    }
  }
}